:root {
  font-family: Arial, Helvetica, sans-serif;
  --primary: rgb(28, 138, 28);
  --primary-dark: rgb(16, 109, 16);
  --secondary: rgb(175, 255, 106);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tertiary: rgb(241, 255, 193);
  font-size: 16px;
  --text-light: rgb(231, 231, 231);
  --primary-light: rgb(179, 255, 86);
}

a {
  text-decoration: none;
  color: var(--primary);
}

a:hover {
  text-decoration: underline;
}

body {
  line-height: 1.5;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 0.5rem;
  line-height: 1.2;
  margin-top: 1rem;
}

h2 {
  font-weight: bold;
  font-size: 1.25rem;
}

section h2 {
  margin-bottom: 0.5rem;
}

#container {
  padding: 0 1rem;
  max-width: 960px;
  margin: 0 auto;
}

#preview-img {
  max-width: 100%;
  object-fit: cover;
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.25);
}

#tags,
#meta {
  display: flex;
  gap: 0.5rem;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 0.5rem;
}

#tags span {
  display: inline-block;
  background-color: var(--primary);
  color: var(--text-light);
  padding: 0.25rem 0.75rem;
  border-radius: 1rem;
  font-size: 0.75rem;
}

#meta span {
  display: block;
  font-size: 0.5rem;
  background-color: var(--primary);
  color: var(--text-light);
  width: 2.75rem;
  height: 2.75rem;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.25rem;
  border-radius: 100%;
  text-align: center;
}

#summary {
  margin-bottom: 0.5rem;
}

section {
  margin-bottom: 1rem;
}

#instructions ol li {
  display: flex;
  gap: 1rem;
  /* align-items: flex-start; */
}

#instructions ol li + li {
  margin-top: 1rem;
}

.step-number {
  color: var(--text-light);
  background-color: var(--primary);
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.step-detail {
  display: flex;
  align-items: center;
  justify-content: center;
}

#ingredients ul li {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

#ingredients ul li::before {
  content: "";
  display: block;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--primary);
}

#random-btn-container {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}

#random-btn {
  background-color: var(--primary);
  border: none;
  padding: 0.75rem;
  border-radius: 100%;
  cursor: pointer;
  transition: all 0.2s;
}

#random-btn:hover {
  background-color: var(--primary-dark);
}

#random-btn svg {
  width: 1.5rem;
}

#loader {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

#loader svg {
  stroke: var(--primary);
  width: 3rem;
  animation: spin 1s linear infinite;
}

main {
  display: none;
}

#banner {
  background-color: var(--primary);
  color: var(--text-light);
  text-align: center;
  padding: 1rem;
  position: relative;
}

#banner button {
  position: absolute;
  right: 1rem;
  top: 1rem;
  background-color: transparent;
  color: white;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

#banner button:hover {
  color: rgb(238, 238, 238);
}

#banner h3 {
  font-size: 2rem;
  margin-bottom: 1rem;
}

#banner h3 span:first-child {
  font-weight: bold;
}

#banner h3 span:last-child {
  display: block;
  font-size: 1rem;
}

#banner a {
  color: var(--primary-light);
}

#random-btn-tooltip {
  display: block;
  background-color: var(--primary);
  color: var(--text-light);
  position: absolute;
  padding: 0.5rem;
  width: 12rem;
  border-radius: 0.5rem;
  top: 50%;
  right: calc(100% + 1rem);
  transform: translateY(-50%);
  box-shadow: var(--shadow);
  font-size: 0.9rem;
  animation: fade-out 500ms linear 5s 1 forwards;
}

.fade-out--quick {
  animation: fade-out 500ms linear 1 forwards;
}

/* MEDIUM SCREEN  */
@media (min-width: 768px) {
  #tags {
    margin-bottom: 2rem;
  }

  #main__bottom {
    display: flex;
    align-items: flex-start;
    gap: 1rem;
  }

  #main__bottom > div {
    flex: 1;
  }

  #summary {
    margin-bottom: 0;
  }

  #preview-img {
    margin: 0 auto 0.5rem;
    display: block;
  }

  #meta span {
    font-size: 0.75rem;
    width: 4rem;
    height: 4rem;
    padding: 1.25rem;
    line-height: 1;
  }

  #random-btn {
    padding: 1rem;
  }

  #random-btn svg {
    width: 2rem;
  }
}

@keyframes spin {
  from {
    transform: rotate(0);
  }

  to {
    transform: rotate(360deg);
  }
}

@keyframes fade-out {
  to {
    display: none;
    opacity: 0;
  }
}
