:root {
  font-family: Arial, Helvetica, sans-serif;
  --primary: rgb(28, 138, 28);
  --secondary: rgb(175, 255, 106);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --tertiary: rgb(241, 255, 193);
  font-size: 16px;
}

h1 {
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
}

#preview-img {
  max-width: 100%;
}

/* MEDIUM SCREEN  */
@media (min-width: 768px) {
}
