:root {
  --btn-width: 4.5rem;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-color: black;
  margin: 0;
}

#container {
  display: flex;
  justify-content: center;
  padding: 1rem;
}

#calculator {
  box-shadow: 10px 10px 25px 0 rgba(255, 217, 0, 0.281),
    -10px 10px 25px 0 rgba(255, 217, 0, 0.281),
    10px -10px 25px 0 rgba(255, 217, 0, 0.281),
    -10px -10px 25px 0 rgba(255, 217, 0, 0.281);
  display: grid;
  gap: 0.25rem;
  background-color: rgb(39, 39, 39);
  padding: 1rem;
  grid-template-columns: repeat(4, var(--btn-width));
  grid-template-rows: calc(var(--btn-width) * 1.5) repeat(5, var(--btn-width));
  border-radius: 0.75rem;
}

#calculator button {
  width: 100%;
  height: 100%;
  font-size: 1.25rem;
  cursor: pointer;
  font-weight: bold;
  border: none;
  border-radius: 100%;
  transition: all 150ms;
}

#display {
  height: 100%;
  /* background-color: rgb(46, 46, 46); */
  grid-column: 1 / span 4;
  text-align: right;
}

#display-prev {
  color: rgb(184, 184, 184);
  font-size: 1.25rem;
  margin-bottom: 0.5rem;
}

#display-main {
  color: white;
  font-size: 2.5rem;
}

#calculator #btn-clear {
  grid-column: 1 / span 2;
  border-radius: 3rem;
}

.btn-digit,
#btn-sign,
#btn-decimal {
  background-color: rgb(88, 88, 88);
  color: white;
}

.btn-digit:hover,
#btn-sign:hover,
#btn-decimal:hover,
.btn-digit:hover {
  background-color: rgb(81, 81, 81);
}

.btn-digit:active,
#btn-sign:active,
#btn-decimal:active,
.btn-digit:active {
  background-color: rgb(160, 160, 160);
}

.btn-operation,
#btn-equal {
  background-color: rgb(255, 200, 0);
  color: white;
}

.btn-operation:hover,
#btn-equal:hover {
  background-color: rgb(216, 169, 0);
}

.btn-operation:active,
#btn-equal:active {
  background-color: rgb(255, 212, 57);
}

#btn-clear,
#btn-delete {
  background-color: rgb(152, 152, 152);
}

#btn-clear:hover,
#btn-delete:hover {
  background-color: rgb(136, 136, 136);
}

#btn-clear:active,
#btn-delete:active {
  background-color: rgb(211, 211, 211);
}
