:root {
  font-size: 16px;
  --grid-size: 24rem;
  --grid-dimensions: 16;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-color: rgb(241, 241, 241);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

header {
  text-align: center;
}

h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 0.75rem;
}

h2 {
  font-size: 1.5rem;
}

header a {
  font-weight: 500;
}

a {
  color: rgb(25, 108, 204);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

button {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: white;
}

button:hover {
  filter: brightness(0.9);
}

button.btn--on {
  background-color: black;
  color: white;
  font-weight: bold;
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: var(--grid-size);
  height: var(--grid-size);
  border: black 0.5rem solid;
  box-sizing: content-box;
  flex: 0 0 var(--grid-size);
}

.tile {
  width: calc(var(--grid-size) / var(--grid-dimensions));
  height: calc(var(--grid-size) / var(--grid-dimensions));
  box-sizing: border-box;
}

#grid.guidelines .tile {
  border: 1px solid black;
}

.random-color-btn--on {
  background-color: transparent;
  animation: rainbow 2s infinite;
  color: white;
}

#controls {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
}

#grid-size-prompt {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

#grid-size-prompt > div:first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#color-choice {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.25rem;
}

#reset-btn {
  background-color: rgb(211, 30, 30);
  color: white;
}

#grid-size-prompt button {
  background-color: rgb(25, 108, 204);
  color: white;
}

#container {
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  gap: 2rem;
  padding: 2rem;
}

@media (min-width: 768px) {
  :root {
    --grid-size: 32rem;
  }

  #container {
    flex-direction: row;
    justify-content: center;
  }

  #controls {
    align-items: flex-end;
  }
}

@keyframes rainbow {
  from {
    background-color: red;
  }
  17% {
    background-color: orange;
  }
  34% {
    background-color: yellow;
  }

  51% {
    background-color: green;
  }
  68% {
    background-color: blue;
  }
  85% {
    background-color: indigo;
  }
  to {
    background-color: purple;
  }
}
