:root {
  font-size: 16px;
  --grid-size: 32rem;
  --grid-dimensions: 16;
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

button {
  border: none;
  padding: 1rem 2rem;
  cursor: pointer;
  border-radius: 0.25rem;
  font-size: 1rem;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

#grid {
  display: flex;
  flex-wrap: wrap;
  width: var(--grid-size);
  height: var(--grid-size);
  border: black 0.5rem solid;
  box-sizing: content-box;
}

.tile {
  width: calc(var(--grid-size) / var(--grid-dimensions));
  height: calc(var(--grid-size) / var(--grid-dimensions));
  /* background-color: red; */
}

.tile--painted {
  background-color: black;
}

.random-color-btn--on {
  background-color: transparent;
  animation: rainbow 2s infinite;
}

@keyframes rainbow {
  from {
    background-color: red;
  }
  17% {
    background-color: orange;
  }
  34% {
    background-color: yellow;
  }

  51% {
    background-color: green;
  }
  68% {
    background-color: blue;
  }
  85% {
    background-color: indigo;
  }
  to {
    background-color: purple;
  }
}
